.wrapper {
    width: 100%;
    max-width: 480px;
    min-height: 100dvh;
    margin: 0 auto;
    background: var(--bg);
    position: relative;
    color: var(--text);
}


@media (max-width: 767px) {
    .themeToggle {
        right: 16px;
        top: 16px;
    }
}
